* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}


:root{


  /* color palette */
  --bg-color: #070F2B;
  --text-color: #e3e3eb;

  
  

}